<ion-item-sliding inViewPort>
  <ion-item class="email" lines="none">
    <ion-row class="ion-align-items-center">
      <ion-col *ngIf="m.left" size="2" (click)="openDetails(m)">
        <img *ngIf="showImage" class="email-circle" [src]="m?.left" (error)="removeImg($event)">
        <div *ngIf="!showImage" class="email-circle" [style.background]="randomColor">{{ m.title | slice:0:1 }}</div>
      </ion-col>
      <ion-col [size]="m.left ? '7' : '9'" (click)="openDetails(m)">
        <ion-label color="dark" [style.font-weight]="!m.read ? 'bold' : ''"
          class="ion-text-capitalize ion-text-wrap ion-text-medium"> {{ m?.title?.split('@')[0] || '' }}
          <p class="excerpt" innerHTML="{{ (m?.content?.length>50)? (m?.content | slice:0:50)+'...' : (m?.content)}}">
          </p>
        </ion-label>
      </ion-col>
      <ion-col size="3">
        <div class="ion-text-right">
          <!-- <ion-icon style="margin: 1px;" [name]="m.star ? 'star' : 'star-outline'" [color]="m.star ? 'warning' : 'medium'"></ion-icon> -->
          <div *ngIf="m.right_top != undefined" class="rightTop" [innerHTML]="m?.right_top || ''"></div>
          <ng-container *ngIf="m.right_top_badge != undefined">
            <ion-label *ngIf="m.right_top_badge" class="time"
              [ngStyle]="{'background' : (m.status == 2)? 'peru':(m.status == 1)? 'var(--ion-color-success)':'var(--ion-color-danger)'}"
              [innerHTML]="m?.right_top_badge || ''"></ion-label>
          </ng-container>
          <!-- <span class="rightTop">{{m['member_id']}}</span> -->
          <p class="date" *ngIf="m.right_bottom != undefined">{{ m.right_bottom}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item-options *ngFor="let a of btn | filter : 'LEFT' : ['alignment']" slot="start">
    <ion-item-option (click)="eventClick(a)" [class]="a?.class || ''" [color]="a?.color || '' ">
      <ion-icon *ngIf="a?.isIcon" style="margin: 1px;" [class]="a?.class || ''" [name]="a.name || 'star-outline'"
        [color]="a.color ||  'medium'"></ion-icon>
      {{a?.title}}</ion-item-option>
  </ion-item-options>

  <ion-item-options *ngFor="let a of btn | filter : 'RIGHT' : ['alignment']" slot="end">
    <ion-item-option (click)="eventClick(a)" [class]="a?.class || ''" [color]="a?.color || '' ">
      <ion-icon *ngIf="a?.isIcon" style="margin: 1px;" [class]="a?.class || ''" [name]="a.name || 'star-outline'"
        [color]="a.color ||  'medium'"></ion-icon>
      {{a?.title}}</ion-item-option>
  </ion-item-options>
</ion-item-sliding>